:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --text-color: #434455;
    --light-color: #F4F4FD;
    --white-background-color: #FFFFFF;
    --accent-color: #E7E9FC;
    --font-family-text: 'Roboto', sans-serif;
    --second-font-family-text: 'Raleway', sans-serif;
}

body {
    font-family: var(--font-family-text);
    color: var(--text-color);
    background-color: var(--white-background-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.list,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link,
a {
    text-decoration: none;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    align-items: center;
    margin-right: 76px;
    text-transform: uppercase;
    font-family: var(--second-font-family-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}

.header-logo-studio {
    color: var(--navy-blue-color);
}

.footer-logo-studio {
    color: var(--light-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-addr-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-link {
    font-family: var(--font-family-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-decoration: none;
    padding: 24px 0;
}

.header-link:focus,
.header-link:hover {
    color: var(--pressed-state-color);
}

.header-address {
    font-style: normal;
}

.header-addr-link {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-addr-link:focus,
.header-addr-link:hover {
    color: var(--pressed-state-color);
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--navy-blue-color);
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family-text);
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-background-color);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--pressed-state-color);
}

.section-prerogatives {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.prerogatives-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.prerogatives-item {
    flex-basis: calc((100% - 72px) / 4);
}

.prerogative-name {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--navy-blue-color);
    margin-bottom: 8px;

}

.prerogative-text {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.specialization {
    padding-bottom: 120px;
}

.specialization-list {
    display: flex;
    gap: 24px;
}

.specialization-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.specialization-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;

}

.team {
    background-color: var(--light-color);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-title {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item {
    background-color: var(--white-background-color);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-inf {
    padding: 32px 16px;
}

.team-name {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-align: center;
    margin-bottom: 8px
}

.team-text {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: var(--text-color);
    text-align: center;
}

.footer {
    background-color: var(--navy-blue-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-family: var(--second-font-family-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}

.footer-text {
    width: 264px;
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

.filters {
    padding: 96px 0 120px 0;
}

.filters-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 72px;
}

.filters-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}

.img-item {
    flex-basis: calc((100% - 48px) / 3);
}

.filters-btn {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.filters-btn:focus,
.filters-btn:hover {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
}

.under-pages {
    border: 1px solid var(--accent-color);
    border-top: none;
    padding: 32px 16px;
}
.img-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.img-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}